<header #header>
  <div class="container">
    <div class="header-content">
      <div class="header-left">
        <div class="logo">
          <a href="#"><img src="/assets/campusCabins.png" alt="College Logo"></a>
        </div>
        <button class="menu-toggle" (click)="toggleMenu()">Menu</button>
      </div>
      <div class="header-right">
        <div class="search-bar">
          <input type="text" placeholder="Search...">
          <button type="submit">Go</button>
        </div>
        <div class="profile-login">
          <!-- Update the profile-login-link -->
          <a href="#" class="profile-login-link" *ngIf="!getCurrentUser()" (click)="openSignInForm($event)">Sign in</a>
          <a href="#" class="profile-login-link" *ngIf="getCurrentUser()" (click)="signOut()">Sign out</a>
        </div>
        <div class="profile-info" *ngFor="let user of users">
          <div *ngIf="user.email===getCurrentUser()" class="profile-picture-wrapper">
            <div class="profile-picture" >
              <img *ngIf="getCurrentUser()" src="{{user.email===getCurrentUser()?user.profilePictureUrl:' '}}" alt="User Profile Picture">
            </div>
          </div>
          <div class="profile-email"  *ngIf="user.email===getCurrentUser()">
            <span>{{getCurrentUser()}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
