<div class="sign-in-form-popup">
  <div class="sign-in-form-content">
    <div class="interactive-part">
      <img src="./assets/loginform.png" alt="Your Image Description" class="interactive-image">
      <h2>Welcome Back!</h2>
      <p class="welcome-text"><strong>Sign in to access your account and continue your journey.</strong></p>
    </div>
    <button class="close-btn" (click)="closeSignInForm()">×</button>
    <!--  LOGIN right pane  -->
    <div class="login-part">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Sign In" class="middle-tabs">
          <form class="formContainer">
            <br>
            <h3>Sign In</h3>
            <div class="form-group">
              <label for="email">Email:</label>
              <input name="value" [(ngModel)]="loginEmail" type="email" id="email" class="form-control"
                     placeholder="Enter your email" required>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input name="value" [(ngModel)]="loginPassword" type="password" id="password" class="form-control"
                     placeholder="Enter your password" required>
            </div>
            <div class="form-group">
              <button type="submit" class="submit-btn" (click)="logIn()">Sign In</button>
            </div>
          </form>
        </mat-tab>
        <!--  SIGNUP right pane  -->
        <mat-tab label="Sign Up" class="middle-tabs">
          <form class="formContainer">
            <br>
            <h3>Sign Up</h3>
            <div class="form-group">
              <label for="signup-email">Email:</label>
              <input name="value" [(ngModel)]="signupEmail" type="email" id="signup-email" class="form-control"
                     placeholder="Enter your email" required>
            </div>
            <div class="form-group">
              <label for="signup-password">Password:</label>
              <input name="value" [(ngModel)]="signupPassword" type="password" id="signup-password" class="form-control"
                     placeholder="Enter your password" required>
            </div>
            <div class="form-group">
              <label for="confirm-password">Confirm Password:</label>
              <input name="value" [(ngModel)]="signupConfirmPassword" type="password" id="confirm-password"
                     class="form-control" placeholder="Confirm your password"
                     required>
            </div>
            <div class="form-group-profilePic">
              <label class="image-container" (click)="updateProfilePictureSelection(1)">
                <input type="radio" [(ngModel)]="selectedProfilePicture" name="profilePicture" value="image1">
                <img src="/assets/female.jpg" alt="Profile picture 1">
              </label>
              <label class="image-container" (click)="updateProfilePictureSelection(2)">
                <input type="radio" [(ngModel)]="selectedProfilePicture" name="profilePicture" value="image2">
                <img src="/assets/male.jpg" alt="Profile picture 2">
              </label>
            </div>
            <div class="form-group">
              <button type="submit" class="submit-btn" (click)="setAccount()">Sign Up</button>
            </div>
          </form>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
