<!DOCTYPE html>
<html>
<head>
  <title>Tel-Hai College</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">
</head>
<body>
<app-loader *ngIf="isLoading"></app-loader>

<app-header [profilePictureUrl]="profilePictureUrl" [users]="users"></app-header>
<app-main-hoome-page (addApartmentVisable)="showAddApartment($event)"></app-main-hoome-page>
<app-main-section (loadingIndecator)="setLoadingFlag($event)" [apartments]="apartments" [items]="items" [users]="users"></app-main-section>
<app-sign-in (profilePictureChange)="profilePictureUrl" (userAdded)="onUserAdded($event)" [users]="users"></app-sign-in>
<app-add-apartment (loadingIndecator)="setLoadingFlag($event)" (_apartmentAdded)="onApartmentAdded($event)"></app-add-apartment>
<app-footer></app-footer>
</body>
</html>
