<div class="add-apartment-form-popup"  [class.visible]="isAddApartmentVisible">
  <div class="add-apartment-form-content">
    <div class="interactive-part">
      <img src="../../../../assets/interior-design-concept-illustration_114360-5217.avif" alt="Your Image Description" class="interactive-image">
      <h2>List Your Apartment !</h2>
      <p class="welcome-text"><strong>Share key details such as location, price, and photos to attract potential renters.</strong></p>
    </div>
    <button class="close-btn" (click)="closeAddApartmentForm()">×</button>
    <!--  LOGIN right pane  -->
    <div class="add-part">
          <form class="formContainer">
            <br>
            <h3>apartment details</h3>
            <mat-stepper [linear]="isLinear" #stepper>
              <mat-step [stepControl]="firstFormGroup" label="About you">
                <div class="form-group">
                  <label>First Name:</label>
                  <input name="value" type="text" id="name" class="form-control"
                         placeholder="Enter your name" [(ngModel)]="name" required [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                  <label>Last Name:</label>
                  <input name="value" type="text" id="lastName" class="form-control"
                         placeholder="Enter your last name" [(ngModel)]="lastName" required [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                  <label>Owner Id:</label>
                  <input name="value" type="text" id="ownerId" class="form-control"
                         placeholder="Enter your E-mail" [(ngModel)]="ownerId" required [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                  <label>Email:</label>
                  <input name="value" type="email" id="E-mail" class="form-control"
                         placeholder="Enter your E-mail" [disabled]="true" [(ngModel)]="email" [textContent]="getCurrentUser()" required [ngModelOptions]="{standalone: true}">
                </div>
                <button mat-button matStepperNext>Next</button>
              </mat-step>
              <mat-step label="Apartment picture" [stepControl]="secondFormGroup">
                <div class="form-group">
                  <label for="apartment-image">Apartment Image:</label>
                  <input id="apartment-image" type="file" accept="image/*" (change)="onImageSelected($event)" />
                  <img *ngIf="loadImageUrl" [src]="loadImageUrl" alt="Uploaded Image" class="apartment-image" />
                </div>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup" label="Apartment details">
                <div class="form-group">
                  <label>Apartment location:</label>
                  <input [(ngModel)]="location" type="text" [ngModelOptions]="{standalone: true}"/>
                </div>
                <div class="form-group">
                  <label>Apartment description:</label>
                  <textarea id="apartment-description" [(ngModel)]="description" type="text" [ngModelOptions]="{standalone: true}"></textarea>
                </div>
                <div class="form-group">
                  <label>Apartment price:</label>
                  <input id="apartment-price" [(ngModel)]="price" [ngModelOptions]="{standalone: true}"/>
                </div>
                <button mat-button matStepperPrevious>Back</button>
                <div class="form-group">
                  <a href="#" class="profile-login-link" (click)="addNewApartment()">Confirm !</a>
                </div>
              </mat-step>
            </mat-stepper>
          </form>
    </div>
  </div>
</div>
