
/**/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}



/* Banner styles */
.banner {
  background-image: url('/assets/shutterstock_520698799small.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 780px;
  display: flex;
  align-items: center;
}
/**/
.banner-text {
  max-width: 500px;
}

.banner-text h1 {
  font-size: 60px;
  margin-bottom: 20px;
  text-shadow: 2px 2px #000;
}

.banner-text p {
  font-size: 24px;
  margin-bottom: 20px;
  text-shadow: 2px 2px #000;
}

.btn {
  background-color: #fff;
  color:  #4caf50;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  margin-left: 5px;

}

.btn:hover {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

/**/
.banner-btn.add-apartment::before {
  content: "+";
  display: inline-block;
  margin-right: 5px;
  font-size: 20px;
  font-weight: bold;
}
