<!--
<div class="banner">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile cols="3">
      <div class="banner-text">
        <h1 class="banner-title">Tel-Hai College</h1>
        <p class="banner-subtitle">Where Excellence Meets Innovation</p>
        <div class="button-group">
          <a href="#" class="btn banner-btn">Discover Apartments</a>
          <button class="btn banner-btn add-apartment" (click)="openAddApartment($event)">List Your Property</button>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile cols="1">
      <img
        src="assets/college-campus-concept-illustration_114360-10535.avif"
        class="header__img"
        alt="Minimalist bank items"
      />
    </mat-grid-tile>
  </mat-grid-list>
</div>
-->

<div class="banner">
  <div class="header__title">
    <div class="ledtSide">
      <h1 class="banner-title"><b>Campus Cabins</b></h1>
      <p class="banner-subtitle">Find Your Perfect Home </p>
      <p class="banner-subtitle">, or List Your Property With Us</p>

      <br><br><br>
    <div class="button-group">
      <button class="btn banner-btn">Discover Apartments</button>
      <button class="btn banner-btn add-apartment" (click)="openAddApartment($event)">List Your Property</button>
    </div>
    </div>
    <img
      src="assets/college-campus-concept-illustration_114360-10535.avif"
      class="header__img"
      alt="Minimalist bank items"
    />
  </div>
</div>
