<div class="banner">
  <div class="header__title">
    <div class="ledtSide">
        <h1 class="banner-title"><span class="highlight">Campus Cabins</span></h1>
        <p class="banner-subtitle">Find Your Perfect Home</p>
      <br><br><br>
    <div class="button-group">
      <button class="btn banner-btn">Discover Apartments</button>
      <button class="btn banner-btn add-apartment" (click)="openAddApartment($event)">+  List Your Property</button>
    </div>
    </div>
    <img
      src="assets/college-campus-concept-illustration_114360-10535.avif"
      class="header__img"
      alt="Minimalist bank items"
    />
  </div>
</div>
