<div class="mainSectionontainer" id="mainSectionontainer">
  <img mat-card-avatar class="example-header-image" id="testing1">
  <div class="row justify-content-center">
    <div class="search-section">
      <h2 class="section-title text-center">What are you searching for?</h2>
      <div class="appSearch">
        <app-searching-loaded></app-searching-loaded>
      </div>
      <div class="middle-tabs">
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Apartments">
            <div class="item-cards">
              <div class="apartment-cards" *ngFor="let apartment of apartments">
                <mat-card class="mat-card">
                  <mat-card-header>
                    <img mat-card-avatar class="example-header-image" src="{{apartment.userProfilePictureUrl}}">
                    <mat-card-title>{{apartment.owner?.firstName + ' ' +apartment.owner?.lastName}}</mat-card-title>
                    <mat-card-subtitle>{{apartment.location}}</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="{{apartment.imageDownloadUrl}}" class="mat-card-image" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p>
                      {{apartment.description}}
                    </p>
                    <p>
                      {{apartment.price + '$'}}
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <!--(click)="openDialog(apartment.owner.firstName + ' ' + apartment.owner.lastName + ' ' + 'apartment',apartment.ownerId)"-->
                    <button mat-button *ngIf="getCurrentUser()!==apartment.owner.Email?.toString()">Reserve this apartment</button>
                    <button mat-button *ngIf="getCurrentUser()===apartment.owner.Email?.toString()"
                            (click)="openDialog(apartment.location,apartment.ownerId,apartment.location)">DELETE</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
