<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8">
      <h2 class="section-title text-center">Find Your New Home</h2>
      <div class="middle-tabs">
      <mat-tab-group  mat-align-tabs="center">
        <mat-tab label="apartments" class="middle-tabs">
          <div class="apartment-cards">
            <div class="card" *ngFor="let apartment of apartments">
              <img class="card-img" src="{{ apartment.imageUrl }}" alt="{{ apartment.price }}">
              <div class="card-body">
                <h3 class="card-title">{{ apartment.owner }}</h3>
                <p class="card-text">{{ apartment.description }}</p>
                <a class="btn btn-primary" href="{{ apartment.location }}">View Details</a>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Second"> Content 2 </mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab>
      </mat-tab-group>
      </div>
    </div>
  </div>
</div>
