.mainSectionContainer {
  width: 100%;
  background-image: linear-gradient(to right, #e8e8e8, #ffffff);

}

.search-section {
  width: 100%;
  padding: 2rem;
  text-align: center; /* Add this property to center the header-container div */
}
.header-container {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 1rem;
}

.section-title {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333;
  text-align: center;
}

.section-title span {
  color: #FF00FF; /* Replace with your desired color */
}


.middle-tabs {
  margin-top: 1rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.card {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.card-text {
  flex-grow: 1;
  margin-bottom: 1rem;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  text-decoration: none;
  text-align: center;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.mat-tab-group {
  margin-top: 2rem;
}
@media (max-width: 767.98px) {
  .apartment-cards {
    flex-direction: column;

  }
}
/*.apartment-cards, .item-cards {
  display: flex;
  padding: 1rem;
}*/

@media (max-width: 767.98px) {
  .card-container {
    flex-direction: column;
  }
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn-primary:focus, .btn-primary:hover {
  color: #fff;
  background-color: #0056b3;
  border-color: #0056b3;
  text-decoration: none;
  text-align: center;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.mat-card {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  width: 290px;
}

.example-header-image {
  background-size: cover;
}
.item-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.apartment-cards {
  display: flex;
  flex-direction: column;
}

.mat-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-card-content {
  flex-grow: 1;
}

.mat-card-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1024px) {
  .item-cards {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 640px) {
  .item-cards {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}
.mat-card-image{
  height: 250px;
}
/*post cards test*/
.main {
  display: grid;
  place-items: center;
  width: 190px;
  height: 254px;
}

.card {
  width: 190px;
  height: 254px;
  background: #FAF1F6;
  padding: 2rem 1.5rem;
  transition: box-shadow .3s ease, transform .2s ease;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-avatar {
  background: radial-gradient(#A8A6B6,#B3B1BF,#BDBBC7,#C5C4CE,#E2E2E7);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: transform .2s ease;
}

.card-avatar svg {
  padding-top: 5px;
  height: 80px;
  width: 100px;
  fill: #515F65;
}

.card-social {
  display: flex;
  justify-content: space-around;
  width: 190px;
  margin-top: 10%;
  text-align: center;
}

.card-social-icon {
  list-style: none;
  color: #515F65;
  font-size: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-social-icon svg {
  display: block;
  height: 20px;
  width: 20px;
  fill: #515F65;
  cursor: pointer;
}

.card-title {
  color: #1b1b1b;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2rem;
  margin-top: 5px;
}

.card-subtitle {
  color: #7e93a0;
  font-size: 1.0em;
}

.address-icon {
  fill: #515F65;
  height: 150px;
  width: 100px;
  list-style: none;
  justify-content: space-around;
}

.address-title {
  color: #333;
  font-size: 1.0em;
  font-weight: 600;
  list-style: none;
}

.address {
  color: #859ba8;
  font-size: 0.8em;
  list-style: none;
  padding-left: 20px;
;
}

.contact-title {
  color: #333;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 45%;
  padding-bottom: 5px;
}

.card-contact {
  color: #859ba8;
  font-size: 0.8em;
}

.icon-contact {
  list-style: none;
  display: flex;
  align-items: center;
}

.icon-contact svg {
  display: block;
  height: 18px;
  width: 18px;
  fill: #515F65;
  padding-right: 5px;
}

.card:hover {
  box-shadow: 0 10px 50px #23232333;
}

.card:hover .card-info {
  transform: translateY(-5%);
}

.card-avatar:hover {
  transform: scale(1.1);
}

#cs1:hover {
  transform: scale(2.0);
}

#cs2:hover {
  transform: scale(2.0);
}

#cs3:hover {
  transform: scale(2.0);
}

.main:hover #c1 {
  transform: translateX(0px);
}

.main:hover #c2 {
  transform: translateX(200px);
}

.main:hover #c3 {
  transform: translateX(-200px);
}
/*loading*/
.appSearch {
  display: flex;
  justify-content: center;
  padding-top: 47px;
}
